# ignore user-specific cache files and folders
**/.DS_Store
**/__pycache__/

# ignore all contents in data subdirectories
data/*

# ignore outputs (figures, logs, models)
output/figures/*
output/logs/*
output/models/*

# ignore archived (deprecated) files
src/archive